@font-face {
    font-family: 'Ninja Naruto';
    src: url('../Fonts/ninja_naruto/njnaruto.ttf') format('truetype');
}

body {
    background-image: url("../Media/homeBG.jpg");
    padding: 0;
    margin: 0;

    height: 150%;
}

header {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);

    font-family: 'Ninja Naruto', sans-serif;
    color:#F18918;

    border-bottom: 1px solid black;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 10px 20px rgba(26, 26, 26, 0.4);
}

.main-btns {
    display: flex;
    gap: 3rem;
}

.header-btns {
    font-family: 'Ninja Naruto', sans-serif;
    color:#F18918;

    border: none;
    background: transparent;
    text-decoration: underline;

    width: 10%;
    height: 50%;
}

.header-btns:hover{
    cursor: pointer;
}

.list-btn {
    font-family: 'Ninja Naruto', sans-serif;
    color:orangered;

    border: none;
    background: transparent;
}

.list-btn:hover {
    cursor: pointer;
}