@font-face {
    font-family: 'Ninja Naruto';
    src: url('../Fonts/ninja_naruto/njnaruto.ttf') format('truetype');
}

body {
    background-image: url("../Media/homeBG.jpg");
    font-family: 'Ninja Naruto', sans-serif;
    padding: 0;
    margin: 0;

    height: 91vh;
}

header {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    font-family: 'Ninja Naruto', sans-serif;
    color:#F18918;

    border-bottom: 1px solid black;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 10px 20px rgba(26, 26, 26, 0.4);
}

.main-btns {
    display: flex;
    gap: 3rem;
}

.header-btns {
    font-family: 'Ninja Naruto', sans-serif;
    color:#F18918;

    border: none;
    background: transparent;

    width: 10%;
    height: 50%;
}

.header-btns:hover{
    cursor: pointer;
}

.list-btn {
    font-family: 'Ninja Naruto', sans-serif;
    color: #F18918;

    border: none;
    background: transparent;
}

.list-btn:hover {
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    height: 100%;
    padding-top: 8rem;
}

.loginDiv {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    background-color: rgba(0, 0, 0, 0.6);
    color: #F18918;
    border: 1px solid black;
    border-radius: 1rem;

    padding: 1rem;
    margin: 1rem;
    margin-top: 4rem;

    width: 25%;
    height: 50%;
}

.usernameLogin {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 50%;

    font-size: small;
}

.passwordLogin {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin-top: 1rem;
    width: 50%;

    font-size: small;
}

#login-btn {
    font-family: 'Ninja Naruto', sans-serif;
    width: 6rem;
    height: 2rem;

    color: #F18918;
    border: 1px solid #F18918;
    border-radius: 2rem;

    background:none;
}

#login-btn:hover {
    cursor: pointer;

    width: 6.2rem;
    height: 2.2rem;

    box-shadow: 0 3px 20px #F18918;
}

#login-btn:active {
    box-shadow: 0 1px 5px #F18918;
    transform: translateY(2px);
}

.outros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    font-size: small;
}

.announcements {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    background-color: rgba(0, 0, 0, 0.6);
    color: #F18918;
    border: 1px solid black;
    border-radius: 1rem;

    padding: 1rem;
    margin: 1rem;
    margin-top: 4rem;

    width: 50%;
    height: 50%;
}